<a href="https://colab.research.google.com/github/Rodrigo2S/GoogleColab_BigQuerry/blob/main/Atividade2Awari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [31]:
PROJECT_ID = 'tarefa2-352513' # colocar aqui o id do seu projeto no Bigquery

In [32]:
QUERY = f'''
  SELECT
*
FROM
  `bigquery-public-data.usa_names.usa_1910_2013`
LIMIT
  1000
'''

In [33]:
df = pd.io.gbq.read_gbq(QUERY, project_id=PROJECT_ID)

In [34]:
df.head()

  state gender  year    name  number
0    AK      F  1910   Elsie       6
1    AL      F  1910   Annie     482
2    AL      F  1910   Katie      84
3    AL      F  1910    Alma      82
4    AL      F  1910  Thelma      65